[Unit]
Description=Custom webserver api
SourcePath=/anki/bin/custom-web
PartOf=anki-robot.target

Wants=vic-engine.service
After=vic-engine.service

ConditionFileIsExecutable=/usr/bin/logwrapper
ConditionFileIsExecutable=/anki/bin/custom-web

[Service]
EnvironmentFile=/anki/etc/vic-cloud.env
ExecStart=/usr/bin/logwrapper /anki/bin/custom-web $VIC_CLOUD_OPTS
ExecStopPost=/anki/bin/vic-on-exit
Restart=no
#User=cloud
#Group=anki
#UMask=0002

# VIC-1951
# /factory/cloud has mode 440, which prevents us from reading it as the net user.
# Rather than attempting to remount /factory as rw to add the execute permission,
# we instead just allow vic-cloud to bypass the read-search restriction on dirs.
# We need to fix the permissions in the next Factory OS and can alse re-visit this
# decision post 1.0
AmbientCapabilities=CAP_DAC_READ_SEARCH

[Install]
WantedBy=anki-robot.target
